In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
elections = pd.read_csv('/content/drive/MyDrive/ca.webinars/Pandas Series/data/usa_elections2012_pa.csv')

In [4]:
elections.head()

      county state   total      Obama  ...  winner  voters    turnout     margin
0      Adams    PA   41973  35.482334  ...  Romney   61156  68.632677  27.629667
1  Allegheny    PA  614671  56.640219  ...   Obama  924351  66.497575  14.454399
2  Armstrong    PA   28322  30.696985  ...  Romney   42147  67.198140  37.204293
3     Beaver    PA   80015  46.032619  ...  Romney  115157  69.483401   6.605012
4    Bedford    PA   21444  22.057452  ...  Romney   32189  66.619031  54.929118

[5 rows x 9 columns]